<div id="text" class="pop_window">
    <img class="btn_close" src="images/x_button.png" alt="Close">
    <h1>Настройки</h1>
    <hr style="clear: both"/>
    <div>
        <form id="user_edit" action="index.php?module=user&action=editProfile" method="post" class="registration">
            <fieldset>
                <% if(hasOwnProperty('result')){ %>
                <div><%= result %></div>
                <% } %>
                <legend>Профиль</legend>
                <br/>

                <div id="user_text"><label>Изменить имя</label></div>
                <input id="user" type="text" name="phone"/>

                <div id="pas_text"><label>Введите новый пароль</label></div>
                <input id="password" type="password" name="password"/>

                <div id="pas_rep_text"><label>Повторите пароль</label></div>
                <input id="password_again" type="password" name="password_again"/>
                <input type="submit" value="Принять" id="button"/>
            </fieldset>
        </form>
    </div>
    <% if(hasOwnProperty('error')){ %>
    <div class="error"><label id="er"><%= error %></label></div>
    <% } %>

    <script>
        $(document).ready(function () {
            $.validator.setDefaults({
                debug: true,
                success: "valid"
            });
            $("#user_edit").validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 5,
                        equalTo: "#password_again"
                    },
                    password_again:{
                        required: true,
                        equalTo: "#password"
                    }
                },
                  messages: {
                      password: {
                          required: "Обязательно задайте пароль",
                          minlength: "Минимальная длина пароля 5 символов",
                          equalTo: "Значения полей &laquo;Ввведите новый пароль&raquo; и &laquo;Повторите пароль&raquo; должны быть одинаковыми"
                      },
                      password_again:{
                          equalTo: "Значения полей &laquo;Ввведите новый пароль&raquo; и &laquo;Повторите пароль&raquo; должны быть одинаковыми"
                      }
                }
            })
        });
    </script>
</div>