<form action="index.php?action=insertTermTimetable" id="time_form">
    <table>
        <tbody id="timetable">
        <tr>
            <td><label>Период уведомления</label></td>
            <td><select id="time_select" onChange="findselected()">
                <option value="0">Круглосуточно</option>
                <option value="1">Задать рассписание</option>
            </select></td>
            <td></td>
        </tr>
        <tr class="rasp0">
            <td></td>
            <td><label>C </label><input type="text" class="from_till timePicker" id="timetable_input" disabled="disabled"
                name="start_time0"/><label> По </label><input type="text" class="from_till timePicker"  id="timetable_input2"
                disabled="disabled" name="end_time0"/></td>
            <td></td>
        </tr>
        <tr class="rasp0">
            <td><label>Уведомлять, если платежей нет дольше:</label></td>
            <td><input type="text" class="from_till" id="time_input" name="max_time_from_pay0"/> минут</td>
            <td><a href="#" class="add_setting" onclick="addTableRow()" disabled="disabled">Добавить настройку</a></td>
        </tr>
        </tbody>
    </table>
    <input type="hidden" id="default-id" value="0"/><input type="hidden" name="id_terminal" value="<%= id_terminal %>"/>
    <input type="hidden" name="action" value="insertTermTimetable"/><input type="submit" class="buttons" id="save_timetable" value="Сохранить"/>
</form>
<script>
    var addTableRowTemplate = new EJS({url: 'js/templates/add_table_row.ejs'});

    //Разблокировка ввода
    function findselected(){
    	var state = $('#time_select').val();
    	if (state == "1"){
                $('#timetable_input').prop('disabled', false);
                $('#timetable_input2').prop('disabled', false);
    		}
    	else {
            $('.rasp').remove();
            $('#timetable_input').prop('disabled', true);
            $('#timetable_input2').prop('disabled', true);
        }
    }

    function addTableRow() {
        /* default-id — скрытый элемент формы, из которого берется id для первого создаваемого элемента */
        if($('#time_select').val() == 0) return;
        var id = document.getElementById("default-id").value;
        id++;
        /* в форму с именем testform добавляем новый элемент */
        var render_html = addTableRowTemplate.render({'id': id});
        $("#timetable").append(render_html);

        /* увеличиваем счетчик элементов */
        document.getElementById("default-id").value = id;
    }

    function deleteTableRow(id) {
        $('.rasp' + id + '').remove();
    }
</script>

