<form action="index.php?action=insertTermTimetable" id="time_form">
    <table>
        <tbody id="timetable">
        <tr>
            <td><label>Период уведомления</label></td>
            <td><select id="time_select" onChange="findselected()">
                <option value="0">Круглосуточно</option>
                <option value="1">Задать рассписание</option>
            </select></td>
            <td></td>
        </tr>
        <tr class="rasp0">
            <td></td>
            <td><label>C </label><input type="text" class="from_till datePicker" id="timetable_input" disabled="disabled"
                name="start_time0"/><label> По </label><input type="text" class="from_till datePicker"  id="timetable_input2"
                disabled="disabled" name="end_time0"/></td>
            <td></td>
        </tr>
        <tr class="rasp0">
            <td><label>Уведомлять, если платежей нет дольше:</label></td>
            <td><input type="text" class="from_till" id="time_input" name="max_time_from_pay0"/> минут</td>
            <td><a href="#" id="add_setting" onclick="addTableRow()" disabled="disabled">Добавить настройку</a></td>
        </tr>
        </tbody>
    </table>
    <input type="hidden" id="default-id" value="0"/><input type="hidden" name="id_terminal" value="<%= id_terminal %>"/>
    <input type="hidden" name="action" value="insertTermTimetable"/><input type="submit" class="buttons" id="save_timetable" value="Сохранить"/>
</form>
<script>
    var addTableRowTemplate = new EJS({url: 'js/templates/add_table_row.ejs'});

    //Разблокировка ввода
    function findselected(){
    	var state = document.getElementById('time_select');
    	var notus = document.getElementById('timetable_input');
    	var notus2 = document.getElementById('timetable_input2');
    	var notus3 = document.getElementById('add_setting');
    	if (state.value == "1")
    		{
    		notus.disabled=false;
    		notus2.disabled=false;
    		notus3.disabled=false;
    		}
    	else {
    		notus.disabled=true;
    		notus2.disabled=true;
    		notus3.disabled=true;
    		}
    	}

    	function datesAble(radio) {
    		var start = document.getElementById('search_from');
    		var end = document.getElementById('search_till');
    		if (radio.value =="5")
    		{
    			start.disabled=false;
    			end.disabled=false;
    		}
    		else {
    			start.disabled=true;
    			end.disabled=true;
    		}
    	}

    function addTableRow() {
        alert('test');
        /* default-id — скрытый элемент формы, из которого берется id для первого создаваемого элемента */
        var id = document.getElementById("default-id").value;
        id++;
        /* в форму с именем testform добавляем новый элемент */
        var render_html = addTableRowTemplate.render({'id': id});
        $("#timetable").append(render_html);
        $('#timetable_input' + id).mask("99:99");
        $('#timetable_input2' + id).mask("99:99");

        /* увеличиваем счетчик элементов */
        document.getElementById("default-id").value = id;
    }

    function deleteTableRow(id) {
        $('.rasp' + id + '').remove();
    }
</script>

